* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Adobe Heiti Std R", Arial, sans-serif;
    background-color: rgba(26, 238, 13, 0.37);
}

.head, .symbol {
    /*Style for all headers + Style for task with entities*/
    text-align: center;
}

.head {
    /*Style for all headers*/
    padding: 10px;
    color: #2b4124;
}

hr {
    height: 1px;
    background-color: #000500;
    border: none;
}

span {
    font-weight: bold;
}
